<!DOCTYPE HTML>
<html lang="zh">
<head>
    {include file="public/meta"}
    <title>通知人员管理</title>

</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页 <span class="c-gray en">&gt;</span>系统配置 <span class="c-gray en">&gt;</span>通知人员管理<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <form action="{:url()}" method="post" class="form form-horizontal" id="check-form">

        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">邮箱：</label>
            <div class="formControls col-xs-8 col-sm-7">
                <textarea name="users" cols="" rows="" autocomplete="off"  class="textarea"  placeholder="请输入管理员邮箱，多个用逗号分开" >{$data?$data.value:''}</textarea>
                <span class="c-red">多个用”,“或者”|“分割</span>
            </div>
            <div class="col-xs-2 col-sm-3"></div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <a class="btn btn-primary radius" type="submit" onclick="form_submit()">&nbsp;&nbsp;提交&nbsp;&nbsp;</a>

            </div>
        </div>
    </form>
</div>

{include file="public/footer"}
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script>

</script>
</body>
</html>