<!DOCTYPE HTML>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->
    <link href="/static/h-ui/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/h-ui/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
    <link href="/static/h-ui/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>后台登录</title>
</head>
<body>
<div class="header"></div>
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <form class="form form-horizontal" action="{:url()}" id="check-form" method="post">
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-xs-8">
                    <input  name="username" id="username" type="text" placeholder="账户" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-xs-8">
                    <input  name="password" id="password" type="password" placeholder="密码" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input class="input-text size-L" id="verifyCode" name="verifyCode" type="text" placeholder="验证码" style="width:150px;">
                    <img id="vcode" src="{:captcha_src()}" onclick="getVerifyCode()"> <a id="kanbuq" href="javascript:getVerifyCode();">看不清，换一张</a> </div>
            </div>
           <!-- <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <label for="online">
                        <input type="checkbox" name="online" id="online" value="">
                        使我保持登录状态</label>
                </div>
            </div>-->
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <a type="submit" class="btn btn-success radius size-L" onclick="login();">&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer">COPYRIGHT 2021 - 2022   湖北趣尚互娱网络科技有限公司</div>
{include file="public/footer"}
<script>
    function login() {
        form_submit(['username','password','verifyCode'],'',false,function (res) {
            if (res.code==0){
                location.href = "{:url('/admin/index/index')}"
            }
            getVerifyCode()
        },'check-form',true)
    }
   function getVerifyCode(){
       $("#vcode").attr('src',"{:captcha_src()}")
   }

   $(function () {
       $(document).keypress(function(e) {
           if(e.which == 13) {
               login()
           }
       });
   })
</script>
</body>
</html>